@font-face {
   font-family: 'FontsFree-Net-AvenirLTStd-Book';
   font-display: swap;
   src: url('file:///C:/Users/NABILAH%20NISA/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-29_153818/fonts/FontsFree-Net-AvenirLTStd-Book/font.ttf');
}
