@font-face {
   font-family: 'FontsFree-Net-AvenirLTStd-Book';
   font-display: swap;
   src: url('file:///F:/Zip/Website%20Backup%20File/WEBSITE_SD/Index/fonts/FontsFree-Net-AvenirLTStd-Book/font.ttf');
}
